.form{
    
    background-color: aqua;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

label{
    display: block;
}

button{
    color: red;
    margin-top: 10px;
}

button:hover{
    cursor: pointer;
}