.post{
text-align: center;
    padding: 30px;
    border-radius: 10px;
    background-color: #C0C0C0;
    color: #fff;
    width: 50%;
    margin: 30px auto;
    box-shadow: 3px 3px 5px #eee;
}

p{
    white-space: pre-wrap;
}

.image img{
    width: 440px;
    height: 300px;
}